.left-div{
    position: relative;
    top: 10px;
    left: 0px;
    border: 3px solid black;
    width: 40%;
    float: left;
    z-index: 3;
    background-color: purple;
}
.left-div:hover{
background-color: aqua;
color:black;
cursor: pointer;
}

.right-div{
    position: relative;
    top: 10px;
    left: 20px;
    border: 3px solid red;
    width: 40%;
    float: left;
    z-index:3;
    background-color: yellow;
}
.right-div:hover{
    background-color: royalblue;
    color: black;
    cursor: pointer;
}
.container{
    border: 3px solid green;
    position: relative;
    top: 50px;
    left: 30px;
    height: 150px;
    background-color: orchid;

}
.float-btn{
    position: fixed;
    top: 50px;
    right: 50px;
    width: 100px;
    height:100px;
    border-radius: 50%;
    background-color: aquamarine;
    font-weight: bold;
    font-size: 23px;
    line-height: 100px;
    text-align: center; 
}
.float-btn:hover{
    background-color: red;
    cursor: pointer;
}
a:link{
    color:orange;
}
a:visited{
    color:orange;
}
a:hover{
    color:cyan;
}